In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
cd ./drive/MyDrive/Detecting ads using machine learning/Text Data

/content/drive/MyDrive/Detecting ads using machine learning/Text Data

In [ ]:
ls

'ad data.csv'  'non ad1.csv'   results.csv

In [ ]:
import pandas as pd
df_ads = pd.read_csv("ad data.csv")
df_nonads = pd.read_csv("non ad1.csv")

In [ ]:
df_ads = df_ads[:5572]
df_ads.shape

(5572, 1)

In [ ]:
df_nonads['Category'] = 0
df_nonads

      Category                                            Message
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            0  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         0  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
df_ads['Category'] = 1
df_ads

                                                     ad  Category
0                        DL380 Gen10 4112 1P 16G 8LFF S         1
1     Мícrоsoft Wíndоws Server Enterprise 2008 R2 SP...         1
2     QNAP TS-831XU-4G-US 8-Bay Arm-Based 10G NAS, Q...         1
3        HPE RAM Memory - 8GB - DDR4 SDRAM (815097-B21)         1
4     SuperMicro SuperServer 5019D-FN8TP - Rack-Moun...         1
...                                                 ...       ...
5567  V4INK 2-Pack Compatible Toner Cartridge Replac...         1
5568  65W AC Laptop Adapter Supply Cord Charger for ...         1
5569  MOSISO Case Only Compatible with Older Version...         1
5570  ProCase iPad Pro 11 Case 2018 with Apple Penci...         1
5571  JETech Screen Protector for Microsoft Surface ...         1

[5572 rows x 2 columns]

In [ ]:
df_nonads.rename(columns={"Message": "ad"},inplace = True)
df_nonads

      Category                                                 ad
0            0  Go until jurong point, crazy.. Available only ...
1            0                      Ok lar... Joking wif u oni...
2            0  Free entry in 2 a wkly comp to win FA Cup fina...
3            0  U dun say so early hor... U c already then say...
4            0  Nah I don't think he goes to usf, he lives aro...
...        ...                                                ...
5567         0  This is the 2nd time we have tried 2 contact u...
5568         0               Will ü b going to esplanade fr home?
5569         0  Pity, * was in mood for that. So...any other s...
5570         0  The guy did some bitching but I acted like i'd...
5571         0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [ ]:
df = pd.concat([df_ads,df_nonads],ignore_index=True)
df

                                                      ad  Category
0                         DL380 Gen10 4112 1P 16G 8LFF S         1
1      Мícrоsoft Wíndоws Server Enterprise 2008 R2 SP...         1
2      QNAP TS-831XU-4G-US 8-Bay Arm-Based 10G NAS, Q...         1
3         HPE RAM Memory - 8GB - DDR4 SDRAM (815097-B21)         1
4      SuperMicro SuperServer 5019D-FN8TP - Rack-Moun...         1
...                                                  ...       ...
11139  This is the 2nd time we have tried 2 contact u...         0
11140               Will ü b going to esplanade fr home?         0
11141  Pity, * was in mood for that. So...any other s...         0
11142  The guy did some bitching but I acted like i'd...         0
11143                         Rofl. Its true to its name         0

[11144 rows x 2 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11144 entries, 0 to 11143
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ad        11144 non-null  object
 1   Category  11144 non-null  int64
dtypes: int64(1), object(1)
memory usage: 174.2+ KB

In [ ]:
df.drop_duplicates()
df.shape

(11144, 2)

In [ ]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [ ]:
import gensim
import nltk as nl
from sklearn.feature_extraction import stop_words


nltk_stopwords = nl.corpus.stopwords.words('english')
gensim_stopwords = gensim.parsing.preprocessing.STOPWORDS
sklearn_stopwords = stop_words.ENGLISH_STOP_WORDS
combined_stopwords = sklearn_stopwords.union(nltk_stopwords,gensim_stopwords)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.feature_extraction.stop_words module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.feature_extraction.text. Anything that cannot be imported from sklearn.feature_extraction.text is now part of the private API.
  warnings.warn(message, FutureWarning)

In [ ]:
print('NLTK has {} stop words'.format(len(nltk_stopwords)))
print('Gensim has {} stop words'.format(len(gensim_stopwords)))
print('Sklearn has {} stop words'.format(len(sklearn_stopwords)))
print('Combined stopwords list has {} stop words'.format(len(combined_stopwords)))

NLTK has 179 stop words
Gensim has 337 stop words
Sklearn has 318 stop words
Combined stopwords list has 391 stop words

In [ ]:
from nltk.stem import PorterStemmer 
porter_stemmer = PorterStemmer()

In [ ]:
df1 = pd.DataFrame()

In [ ]:
df1['ad'] = df['ad'].apply(lambda x: x.lower())
df1['ad'] = df['ad'].apply(lambda x: ' '.join([word for word in x.split() if word.isalpha()]))
df1['ad'] = df['ad'].apply(lambda x: ' '.join([porter_stemmer.stem(word) for word in x.split()]))
df1['ad'] = df['ad'].apply(lambda x: ' '.join([word for word in x.split() if word not in (combined_stopwords)]))
df1['Category'] = df['Category']

In [ ]:
df

                                                      ad  Category
0                         DL380 Gen10 4112 1P 16G 8LFF S         1
1      Мícrоsoft Wíndоws Server Enterprise 2008 R2 SP...         1
2      QNAP TS-831XU-4G-US 8-Bay Arm-Based 10G NAS, Q...         1
3         HPE RAM Memory - 8GB - DDR4 SDRAM (815097-B21)         1
4      SuperMicro SuperServer 5019D-FN8TP - Rack-Moun...         1
...                                                  ...       ...
11139  This is the 2nd time we have tried 2 contact u...         0
11140               Will ü b going to esplanade fr home?         0
11141  Pity, * was in mood for that. So...any other s...         0
11142  The guy did some bitching but I acted like i'd...         0
11143                         Rofl. Its true to its name         0

[11144 rows x 2 columns]

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(df1['ad'], df1['Category'], test_size=0.2, random_state=7)

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize import word_tokenize
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, Conv1D, MaxPooling1D, Flatten, Embedding, GlobalMaxPooling1D
from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences

In [ ]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
X = df1['ad']
y = df1['Category']
X

0                           DL380 Gen10 4112 1P 16G 8LFF S
1        Мícrоsoft Wíndоws Server Enterprise 2008 R2 SP...
2        QNAP TS-831XU-4G-US 8-Bay Arm-Based 10G NAS, Q...
3           HPE RAM Memory - 8GB - DDR4 SDRAM (815097-B21)
4        SuperMicro SuperServer 5019D-FN8TP - Rack-Moun...
                               ...
11139    This 2nd time tried 2 contact u. U £750 Pound ...
11140                    Will ü b going esplanade fr home?
11141             Pity, * mood that. So...any suggestions?
11142    The guy bitching I acted like i'd interested b...
11143                                       Rofl. Its true
Name: ad, Length: 11144, dtype: object

In [ ]:
tfidf_vectorizer = TfidfVectorizer(tokenizer = word_tokenize, max_features = 300)
tfidf_train = tfidf_vectorizer.fit_transform(x_train)
tfidf_test = tfidf_vectorizer.transform(x_test)
tfidf_features = tfidf_vectorizer.get_feature_names()
tfidf_general = tfidf_vectorizer.fit_transform(X)

In [ ]:
dt = DecisionTreeClassifier()
rf = RandomForestClassifier()
svc = SVC(kernel='linear')
knn = KNeighborsClassifier()
nb = MultinomialNB()

dt.fit(tfidf_train, y_train)
rf.fit(tfidf_train, y_train)
svc.fit(tfidf_train, y_train)
knn.fit(tfidf_train, y_train)
nb.fit(tfidf_train, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [ ]:
print ("Testing Acc. of Decision Tree: {} %".format(round(dt.score(tfidf_test, y_test) * 100, 2)))
print ("Testing Acc. of Random Forest: {} %".format(round(rf.score(tfidf_test, y_test) * 100, 2)))
print ("Testing Acc. of SVC: {} %".format(round(svc.score(tfidf_test, y_test) * 100, 2)))
print ("Testing Acc. of K-NN: {} %".format(round(knn.score(tfidf_test, y_test) * 100, 2)))
print ("Testing Acc. of Naive Bayesian: {} %".format(round(nb.score(tfidf_test, y_test) * 100, 2)))

Testing Acc. of Decision Tree: 97.76 %
Testing Acc. of Random Forest: 98.7 %
Testing Acc. of SVC: 98.79 %
Testing Acc. of K-NN: 96.1 %
Testing Acc. of Naive Bayesian: 97.76 %

In [ ]:
dt_pred = dt.predict(tfidf_general)
rf_pred = rf.predict(tfidf_general)
svc_pred = svc.predict(tfidf_general)
knn_pred = knn.predict(tfidf_general)
nb_pred = nb.predict(tfidf_general)
df['rf_pred'] = rf_pred
df['dt_pred'] = dt_pred
df['svc_pred'] = svc_pred
df['knn_pred'] = knn_pred
df['nb_pred'] = nb_pred
df.to_csv("results.csv")

In [ ]:
def predicting_for_one(statement):
  df1.loc[len(df1.index)] = statement
  df1['ad'] = df1['ad'].apply(lambda x: x.lower())
  df1['ad'] = df1['ad'].apply(lambda x: ' '.join([word for word in x.split() if word.isalpha()]))
  df1['ad'] = df1['ad'].apply(lambda x: ' '.join([porter_stemmer.stem(word) for word in x.split()]))
  df1['ad'] = df1['ad'].apply(lambda x: ' '.join([word for word in x.split() if word not in (combined_stopwords)]))
  X = df1['ad']
  tfidf_general = tfidf_vectorizer.fit_transform(X)
  tfidf_features = tfidf_vectorizer.get_feature_names()
  dt_pred = dt.predict(tfidf_general)
  df1['dt_pred'] = dt_pred
  # return df['svc_pred']
  if df1['dt_pred'][len(df1)-1] == 0:
    return statement + ' was classified as a non-ad'
  else:
    return statement + ' was classified as an ad'
  # return df1['dt_pred'][len(df1)-1]
  # return df1

predicting_for_one("Hello, how are you?")

'Hello, how are you? was classified as a non-ad'

In [ ]:
df_ads['ad'][100]

'Samsung 970 EVO 1TB SSD (MZ-V7E1T0BW) NVMe M.2 V-NAND Internal Solid State Drive'

In [ ]:
df['svc_pred']

0        0
1        0
2        1
3        1
4        1
        ..
11139    0
11140    0
11141    0
11142    0
11143    0
Name: svc_pred, Length: 11144, dtype: int64

In [ ]:
df

                                                      ad  ...  nb_pred
0                         DL380 Gen10 4112 1P 16G 8LFF S  ...        1
1      Мícrоsoft Wíndоws Server Enterprise 2008 R2 SP...  ...        1
2      QNAP TS-831XU-4G-US 8-Bay Arm-Based 10G NAS, Q...  ...        1
3         HPE RAM Memory - 8GB - DDR4 SDRAM (815097-B21)  ...        1
4      SuperMicro SuperServer 5019D-FN8TP - Rack-Moun...  ...        1
...                                                  ...  ...      ...
11139  This is the 2nd time we have tried 2 contact u...  ...        0
11140               Will ü b going to esplanade fr home?  ...        0
11141  Pity, * was in mood for that. So...any other s...  ...        0
11142  The guy did some bitching but I acted like i'd...  ...        0
11143                         Rofl. Its true to its name  ...        0

[11144 rows x 7 columns]

In [ ]:
len(df)-1

11143

In [ ]:
df1.to_csv("text_pred.csv")

In [ ]:
list1 = ['hello','how']
line = "hello how are you"

line.split()

['hello', 'how', 'are', 'you']

In [ ]:
line = ""
statement = "hello how are you"
statement = statement.split()
for i in statement:
  if i not in list1:
    line = line+i+" "
statement = line
statement = statement.rstrip()
statement

'are you'

In [ ]:
df1.loc[len(df1)] = "hkjkhgjhg"
df1

                                              ad  ...    dt_pred
0                                                 ...          0
1      мícrоsoft wíndоw server enterpris oem cal  ...          0
2          qnap quad core x x singl power suppli  ...          0
3                           hpe ram memori sdram  ...          1
4                   supermicro superserv xeon gb  ...          1
...                                          ...  ...        ...
11141                                       mood  ...          0
11142      guy bitch act like buy week gave free  ...          0
11143                                       true  ...          0
11144                                             ...          0
11145                                  hkjkhgjhg  ...  hkjkhgjhg

[11146 rows x 3 columns]